# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


.unote
.vscode
application.log
application.log.*
venv/
venv1/
venv*
.DS_Store
# Explicitly ignore config file
app/ggt/configs/config.yml