[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
autopep8 = "*"
python-multipart = "*"

[packages]
pyyaml = "*"
jinja2 = "*"
google-cloud-logging = "*"
google-cloud = "*"
pydantic = "*"
pyotp = "*"
twilio = "*"
phonenumbers = "*"
mysql-connector-python = "*"
aiohttp = "*"
uvicorn = "==0.12.2"
pathlib = "*"
boto3 = "*"
sendgrid = "*"
openpyxl = "*"
faker = "*"
paramiko = "*"
requests = "*"
fastapi = "*"
google-cloud-storage = "*"
six = "*"
google-oauth = "*"
pillow = "*"
python-barcode = "*"
aiofiles = "*"
python-jose = "*"
gevent = "*"
aiocache = "*"
ujson = "*"
msgpack = "*"
pytest = "*"
pytest-asyncio = "*"
nest-asyncio = "*"
pytest-faulthandler = "*"
gcloud = "*"
cachetools = "*"
pdfplumber = "*"
pdfrw = "*"
reportlab = "*"
stripe = "*"
wallet-py3k = "*"
pypdf2 = "*"

[requires]
python_version = "3.7"
