
{% extends "email-layout-ggv.html" %} {% block preview_text %} Hi {{first_name}},
We’ve received your pre-registration to get the COVID-19 vaccine. {% endblock %} {% block content %}

<!-- BEGIN MODULE: Transactional 21 -->
<table
  width="100%"
  border="0"
  cellspacing="0"
  cellpadding="0"
  role="presentation"
>
  <tbody>
    <tr>
      <td height="8" style="font-size: 1px; line-height: 1px">&nbsp;</td>
    </tr>
  </tbody>
</table>
<table
  border="0"
  cellpadding="0"
  cellspacing="0"
  role="presentation"
  width="100%"
>
  <tbody>
    <tr>
      <td
        class="pc-sm-p-30-10 pc-xs-p-25-0"
        bgcolor="#ffffff"
        style="padding: 40px 20px; background: #ffffff; border-radius: 8px"
        valign="top"
      >
        <table
          border="0"
          cellpadding="0"
          cellspacing="0"
          role="presentation"
          width="100%"
        >
          <tbody>
            <tr>
            </tr>
            <tr>
              <td style="line-height: 1px; font-size: 1px" height="15">
                &nbsp;
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td
                class="pc-sm-fs-30 pc-fb-font"
                style="
                  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
                  font-size: 36px;
                  font-weight: 800;
                  line-height: 46px;
                  letter-spacing: -0.6px;
                  color: #151515;
                  padding: 0 20px;
                "
                valign="top"
              >
                Hi {{first_name}},<br />We’ve received your pre registration request for GoGetVax.
              </td>
            </tr>
            <tr>
              <td style="line-height: 1px; font-size: 1px" height="15">
                &nbsp;
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr>
            </tr>
            <tr>
              <td style="line-height: 1px; font-size: 1px" height="30">
                &nbsp;
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td
                class="pc-sm-fs-18 pc-xs-fs-16 pc-fb-font"
                style="
                  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
                  font-size: 20px;
                  line-height: 30px;
                  letter-spacing: -0.2px;
                  color: #3f3f3f;
                  padding: 0 20px;
                "
                valign="top"
              >
                <br />
                You have successfully joined the waitlist for the COVID-19 vaccine.  <br/>We will notify you once  you have been cleared to book an appointment.
                 <br /><br />We’ll be in touch soon!
                <br /><br />Thank you,
                <br />GoGetVax Team

              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<!-- END MODULE: Transactional 21 -->

{% endblock %}
